/* imports */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300,400;700&display=swap');


:root{
	--white:hsl(0, 0%, 100%);
	--light-gray: hsl(212, 45%, 89%);
	--grayish-blue: hsl(220, 15%, 55%);
	--dark-blue: hsl(218, 44%, 22%);
}


/* base styles */

body{
	background-color: var(--light-gray);
	font-size: 12px;
	font-family:'Outfit', Tahoma, Geneva, Verdana, sans-serif;
	display: flex;
	min-height: 100vh;
	margin: 0;
	padding: 0;
	justify-content: center;
	align-items: center;
}

h1{
	font-size: 1.8em;
	opacity: 0;
	width: 100%;
	margin: 20px auto;
	animation-name: slide-up;
	animation-timing-function: ease-in-out;
	animation-delay: .5s;
	animation-fill-mode: forwards;
	animation-duration: 1s;
	overflow: hidden;
	font-weight: 700;
}

p{
	font-size: 1.25em;
	opacity: 0;
	margin: 20px auto;
	animation-name: slide-down;
	animation-fill-mode: forwards;
	animation-timing-function: ease-in-out;
	animation-delay: .3s;
	animation-duration: 1s;
	font-weight: 400;
	color: var(--grayish-blue);
}

img{
	width: 100%;
	border-radius: 15px;
}

/* =========================================== */


/* main styles */

.qr-component{
	background-color: var(--white);
	width: 80%;
	margin: 0 auto;
	overflow: hidden;
	padding: 15px;
	border-radius: 20px;
	max-width: 280px;
	text-align: center;
}

.qr-component__image{
	width: 100%;
	position: relative;
	overflow: hidden;
 	margin: 0 auto;
}

.qr-component__image__bg{
	box-sizing: border-box;
	content: '';
	display: grid;
	overflow: hidden;
	grid-template-columns: repeat(12,1fr);
	grid-template-rows: repeat(12,1fr);
	gap:2px;
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 15px;
	width: 100%;
	height: 100%;
}

.qr-component__image__bg span{
	background: var(--light-gray);
	opacity: .7;
	backdrop-filter: blur(50%);
	grid-row: 1/13;
}

.qr-component__image__bg span:nth-child(even){
	animation: slide-down-bg 1s ease-in-out .1s 1  forwards;
}

.qr-component__image__bg span:nth-child(odd){
	animation: slide-up-bg 1s ease-in-out .1s 1  forwards;
}

/* =========================================== */



/* animation styles */

@keyframes slide-up{
	from{
		transform: translateY(30%);
		opacity: 0;
	}
	to{
		transform: translateY(0%);
		opacity: 1;
	}
}

@keyframes slide-down{
	from{
		transform: translateY(-30%);
		opacity: 0;
	}
	to{
		transform: translateY(0%);
		opacity: 1;
	}
}


@keyframes slide-up-bg{
	from{
		transform: translateY(0%) skewY(45deg);
	}
	to{
		transform: translateY(-100%);
	}
}

@keyframes slide-down-bg{
	from{
		transform: translateY(0%) skewY(45deg);
	}
	to{
		transform: translateY(100%);
	}
}

/* =========================================== */